.signin-body {
    margin: 0; 
    background: rgb(127, 127, 254);
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 100vh;
} 

.page-container {
    width: 100%; 
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
}

.signin-block { 
    min-height: 400px;
    width: 500px;
    background: black;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    border-radius: 15px;
}

.block-title {
    margin-top: 30px;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    height: 100%; 
}

.form-box input {
    padding: 9px;
    margin-bottom: 10px; 
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #444;
    color: #eee;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    outline: 1px solid #444;
    font-family: "Bebas";
    width: 150px;
}

.form-box ::placeholder{
    color: rgb(217, 217, 217)
}

.signin-button {
    background: #E48A00;
    width: 140px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-top: 23px;
    align-self: center;
    border: 1px solid black;
    font-size: 22px;
    color: black;
    font-family: "Bebas";
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-bottom: 20px;
}

.signin-button:hover {
    background-color: #FFA700;
}





.error-message {
    color: red;
    font-size: 14px;
    margin-top: -3px;
    margin-bottom: 2px;
    
    
}


