/******************************/
/* ESTILOS GERAIS */
/******************************/

.home-body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}



.container-home {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}


.grid-home {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.button-home,
.button-home:link,
.button-home:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.button--form-home {
  background-color: #f2b457;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.button--form-home:hover {
  background-color: #fff;
  color: #555;
}

.flex-home {
  padding-left: 3rem;
  display: flex;
  gap: 3rem;
  padding-top: 1.8rem;
}

/******************************/
/* CABEÇALHO */
/******************************/

.background-home {
  
  background-image: linear-gradient(
    rgba(34, 34, 34, 0.6),
    rgba(34, 34, 34, 0.6)
  ), url("../../imgs/background.jpeg");
  background-size: cover;
  color: #fff;
}

.header-home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9.6rem;
  padding: 0 4.8rem;
}

/******************************/
/* NAVEGAÇÃO */
/******************************/

.main-nav-list-home {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.2rem;
}

.main-nav-link-home:link,
.main-nav-link-home:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 2.6rem;
  transition: all 0.3s;
}

.main-nav-link-home:hover,
.main-nav-link-home:active {
  color: #f2b457;
}

.flex-icon-home {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/******************************/
/* SEÇÃO DE HERÓI */
/******************************/

.section-hero-home {
  padding: 4.8rem 0 4.8rem 0;
}

.hero-img-box-home {
  display: flex;
  justify-content: center;
}

.hero-home {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.hero-img-home {
  width: 45%;
}

/******************************/
/* SEÇÃO CTA */
/******************************/

.section-cta-home {
  padding: 0rem 0 4.8rem 0;
}

.cta-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.cta-text-box-home {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #fff;
  display: flex;
  align-items: center;
}

.cta-text-home {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-form-home {
  display: flex;
  gap: 3.2rem;
}

.cta-form-home label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form-home input,
.cta-form-home select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form-home input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
}

.link-home:link,
.link-home:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.link-home:hover,
.link-home:active {
  color: #f2b457;
}

.label-home {
  margin-bottom: 5px;
}
